<h1>Yelp!</h1>

<div class="restaurants-container"
  <ul>
    <% @restaurants.each do |r| %>
      <li class="restaurant-card"><%= link_to r.name, restaurant_path(r) %></li>
    <% end %>
  </ul>
</div>

<div class="form"
  <h1>Add a new restaurant:</h1>
  <%= render "form", restaurant: @restaurant %>
</div>
