<h1>Yelp!</h1>

<ul>
  <% @restaurants.each do |r| %>
    <li><%= r.name %><br><%= link_to "details", restaurant_path(r) %></li>
  <% end %>
</ul>

<%= link_to "Add a new restaurant",  new_restaurant_path %>
